{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider brown">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Delete "{{category.name}}"</h1>
		</div>
	</div>
    <h1> Are you sure you want to delete "{{category.name}}"? </h1>

    <form action="{{ url_for('delete_category', category_name=category.name)}}" method='POST'>

        <input type='submit' value='Delete'>

    </form>

    <a href="{{ url_for('categories', category_name=category.name)}}"> Cancel </a>
{% endblock %}
