{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider brown">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Category</h1>
		</div>
	</div>
    <form action="{{url_for('new_category')}}" method="POST">
        <label for="name" class="label">Name:</label>
        <br>
        <input type = "text" size="70" name="name" required>
        <br>
        <input type="submit" value="Create">
    </form>
{% endblock %}